page-transition0 {
	ion-content {
		background-image: url('../assets/transitions/time_travel.jpg');
		-webkit-background-image: url('../assets/transitions/time_travel.jpg');
		background-repeat: no-repeat;
		-webkit-background-repeat: no-repeat;
		background-size:cover;
		-webkit-background-size: cover;
	}
}
